.admin-page-wrapper {
    display: flex;
    justify-content: center;
}
.admin-page {
    max-width: 1500px;
    width: 100%;
    padding: 12px 4px;
}

.admin-table {
    
}

.table-header {
    display: flex;
    width: 100%;
}

.table-header .right {
    display: flex;
    width: 100%;
    justify-content: end;
}