.album .section-content {
    --frame-color: #5988b4;
    flex-direction: column;
}

.album .al-album-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.album .al-album-1 .al-album-1-item {
    width: 25%;
    height: fit-content;
    border: 3px solid var(--frame-color);
    /* filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5)); */
}
.album .al-album-1 .al-album-1-item img {
    width: 100%;
}

.album .al-parallax {
    height: 'fit-content';
}
.album .al-parallax .al-parallax-1 {
    width: 75%;
}
.album .al-parallax .al-parallax-2 {
    width: 65%;
}